table {
  border: 0px;
  background-color: #f6f6ef;
  display: table;
  border-collapse: separate;
  white-space: normal;
}

#header-table {
  background-color: #ff6600;
  border: 0px;
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  padding: 2px;
}

#logo {
  width: 18px;
  padding-right: 4px;
}

#logo-img {
  width: 18px;
  height: 18px;
  border: 1px white solid;
}

#header {
  line-height: 12pt;
  height: 10px;
}

#header-name {
  margin-right: 5px;
}

#link {
  color: black;
}
